<h3>Name: <%= job.name %></h3>
Boats: <% job.boats.each do |boat| %>
	<%= boat.name%>
<% end %>
<p>Cost: <%= job.cost %></p>
<p>Containers: <%= job.containers %></p>
<p>Origin: <%= job.origin %></p>
<p>Destination: <%= job.destination %></p>
<p>Description: <%= job.description %></p>
<%= hidden_field_tag "job_id", job.id, id: "holdingjob_id" + job.id.to_s %>
	<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-sm jobbutton" data-target="#myModal">
		Add Boats To Job
</button>
