<h1>Jobs#new</h1>
<p>Find me in app/views/jobs/new.html.erb</p>

<%= form_for @job do |f|%>

<div class="field">
    <%= f.label :name, "Name" %><br />
    <%= f.text_field :name, autofocus: true %>
    </div>
  
<div class="field">
	<%= f.label :cost, "Cost" %><br />
	<%= f.text_field :cost %>
	<i>Minimum $1,000</i>
</div>

<div class="field">
	<%= f.label :containers, "Containers" %><br />
	<%= f.text_field :containers %>
</div>

<div class="field">
	<%= f.label :description, "Description" %><br />
	<%= f.text_area :description %>
</div>

<div class="field">
	<%= f.label :origin %><br />
	<%= f.select :origin, ['Boston', 'New York', 'Los Angeles', 'Seattle'] %>
</div>

<div class="field">
	<%= f.label :destination %><br />
	<%= f.select :destination, ['Boston', 'New York', 'Los Angeles', 'Seattle'] %>
</div>


<%= hidden_field_tag :boat_id, @boat.id %>


<div class="actions">
	<%= f.submit "New Job" %>
</div>
<% if @job.errors.full_messages.any? %>   
     <ul>     
         <% @job.errors.full_messages.each do |error_message| %>       
         <li><%= error_message %></li> <br />     
         <% end %>   
     </ul> 
 <% end %>
<% end %>

