<%= form_tag  '/addingboats',  method: :post, remote: true, id: "boatform" do %>
	<% Boat.all.each do |boat| %>
		<input type="checkbox" id="boat<%= boat.id %>" name="addingboats[<%= boat.id %>]" value="<%= boat.id %>"><label for="boat<%= boat.id %>"><h3>Name: <%= boat.name%></h3></label>
		<p>Containers: <%= boat.containers%></p>
		<p>Location: <%= boat.location%></p>
		<hr>
	<% end %>
	<%= hidden_field_tag "job_id", "" , id: "job_id" %>
	<%= submit_tag "Add Boats", id: "addingboats" %>
<% end %>