
<% @boats.each do |boat| %>
	<div class="cards">
		<%= link_to "Create New Job",  new_job_path(boat_id: boat.id), class: "btn" %>
		<%= link_to( "Edit Boat", "#{request.base_url}/boats/#{boat.id}/edit") %>
		<h3>Name: <%= boat.name%></h3>
		<p>Containers: <%= boat.containers%></p>
		<p>Location: <%= boat.location%></p>
		<%= image_tag boat.avatar.url(:thumb) %>

		<div class="dropdown">
		<br>
		  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Jobs
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" aria-labelledby="dLabel">
			  <% boat.jobs.each do |job| %>
			   <%= job.name %>
			   <br>
			  <% end %>
		  </ul>
		</div>
	</div>
<% end %>
	