<div class="cards">
<%= form_for @boat, :html => { :multipart => true } do |f|%>

<div class="field">
    <%= f.label :name, "Name" %><br />
    <%= f.text_field :name, autofocus: true %>
    </div>
  
<div class="field">
	<%= f.label :containers, "Containers" %><br />
	<%= f.text_field :containers %>
</div>

<div class="field">
	<%= f.label :location %><br />
	<%= f.select :location, ['Boston', 'New York', 'Los Angeles', 'Seattle'] %>
</div>

 <%= f.file_field :avatar %>

<div class="actions">
	<%= f.submit "New Boat", class: "btn" %>
</div>

<% if @boat.errors.full_messages.any? %>   
     <ul>     
         <% @boat.errors.full_messages.each do |error_message| %>       
         <li><%= error_message %></li> <br />     
         <% end %>   
     </ul> 
 <% end %>
<% end %>
</div>