<!DOCTYPE html>
<html>
  <head>
    <title>Shipped</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="head">
  	<% if user_signed_in? %>
		<%= link_to "Sign Out",  destroy_user_session_path, method: :delete, class: "btn" %>
		<%= link_to "Edit User",  edit_user_registration_path, class: "btn"  %>
		<%= link_to "All My Boats",  boats_path, class: "btn"  %>
		<%= link_to "Create New Boat",  new_boat_path, class: "btn"  %>
		<%= link_to "All Jobs",  jobs_path, class: "btn"  %>
	<% else %>
		<%= link_to "Sign In",  new_user_session_path, class: "btn"  %>
		<%= link_to "Create Account",  new_user_registration_path, class: "btn"  %>
	<% end %>
</div>
	  <p class="notice"><%= notice %></p>
	  <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
